/*
 * Color pallete:
 * #### Blues ####
 * 	Dark 		#303F9F
 * 	Middle 		#3F51B5
 * 	Light		#C5CAE9

 * #### Yellows ####
 * 	Dark 		#FDD835
 * 	Light		#FFF176

 * #### Greys ####
 * 	Dark 		#424242
 * 	Middle 		#757575
 * 	Light		#E0E0E0
 */

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 180px;
	font-family: 'Roboto', sans-serif;
	overflow-y: auto;
	overflow-x: hidden;
}

ul {
	list-style-type: none;
}

h1,
h2 {
	text-align: center;
}

section h1 {
	font-size: 2em;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
	color: #FDD835;
}

.navbar-nav li:hover {
	background-color: #424242;
}

.navbar-inverse .navbar-toggle {
	background-color: none;
	border: 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #FDD835;
}

.siteHeader {
	height: 100vh;
	min-height: 100%;
	padding-top: 140px;
	text-transform: uppercase;
	background: url(../assets/background.png) repeat center center;
	background-position: fixed;
}

.siteHeader h1 {
	font-size: 3em;
	font-weight: 900;
}

.siteHeader h2 {
	font-size: 1.2em;
	margin-bottom: 1.4em;
	font-weight: 700;
}

.social {
	text-align: center;
}

.siteHeader h1,
.siteHeader h2 {
	color: white;
}

.share-btn {
	display: inline-block;
	border: none;
	padding-top: 1em;
	width: 1.8em;
	outline: none;
	transition: transform 0.25s ease;
	transform: scale(0.9);
	font-size: 1.8em;
	color: #FFF176;
}

#myImg {
	max-height: 140px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 8px solid #FDD835;
}

.content section h1 {
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 1em;
	margin-bottom: 1em;
}

#about {
	text-align: justify;
}

#contact {
	padding-bottom: 1.5em;
}

#contact, #about {
	padding-left: 2em;
	padding-right: 2em;
}

#portfolio {
	padding-left: 1em;
	padding-right: 1em;
}

.projectDetails {
	text-align: center;
}

.projectDetails h3 {
	font-weight: 700;
}

.project {
	margin-bottom: 1em;
	padding-bottom: 1.25em;
	box-shadow: 0 0 0.6em rgba(0, 0, 0, 9);
}

.project a,
.projectDetails p {
	text-align: justify;
}

.projectDetails p a {
	border-bottom: 1px dotted #424242;
}

.col-md-7 {
	padding-left: 0;
	padding-right: 0;
}

.btn-primary {
	border: none;
	outline: 0;
	background: #424242;
	color: #FDD835;
	box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.9);
}

.project .btn-primary {
	width: 120px;
	text-align: center;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 180px;
	border-top: 1px solid black;
	text-align: center;	
	padding-top: 25px;
	margin-top: 2em;
	background: #424242;
}

.footer p {
	margin-top: 2em;
	margin-bottom: 0;
	color: white;
}